<div class="row">
  <div class="col-md-12">
  	<% if @product.notifications.empty? %>
  		<p class="lead text-danger text-center">No notifications have been found.</p>
  	<% else %>
    <table class="table table-hover" id="notification-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Expiry Date</th>
          <th>Type</th>
          <th>Published</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
	      <% @product.notifications.each do |notification| %>
        <tr>
          <td><%= notification.title %></td>
          <td><%= notification.content %></td>
          <td><%= notification.expiry %></td>
          <td><%= notification.category %></td>
          <td><%= notification.published %></td>
          <td><a class="btn btn-primary btn-xs">Edit</a></td>
          <td><a class="btn btn-danger btn-xs">Delete</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>