<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1><%= @product.name %></h1>
      <p class="">Product Company</p>
      <p class=""><%= @product.code %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  	<% @product.notifications.published.each do |notification| %>
  	<% if notification.expiry > Date.today %>
    <div class="alert alert-dismissable alert-<%= notification.category %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong><%= notification.title %></strong> <%= notification.content %></div>
    <% end %>
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#instructions" role="tab" data-toggle="tab">Instructions</a></li>
	<% if user_signed_in? %>
	<li><a href="#notifications" role="tab" data-toggle="tab">Notifications</a></li>
	<% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="instructions">
		<%= render "instructions_list" %>
	</div>
	<% if user_signed_in? %>
	<div class="tab-pane" id="notifications">
		<%= render "notifications_list" %>
	</div>
	<% end %>

</div>