<div id="footer">

	<div class="navbar navbar-default navbar-fixed-bottom">
	  <style>
	    .body{padding-top:70px}
	  </style>
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse navbar-ex1-collapse">
	      <ul class="nav navbar-left navbar-nav">
	      	<li class="<%= "active" if controller?('home') && action?('index') %>">
	          <%= link_to "Home", root_path %>
	        </li>
	        <li class="<%= "active" if controller?('home') && action?('about') %>">
						<%= link_to "About Us", about_path %>
	        </li>
	        <li class="<%= "active" if controller?('home') && action?('contact') %>">
						<%= link_to "Contact Us", contact_path %>
	        </li>
	      </ul>
	      <% if user_signed_in? %>
	      <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-danger navbar-btn navbar-right", type: "button" %>
	      <p class="navbar-text navbar-right pad-right">Signed in as <%= current_user.email %></p>
	      <% else %>
	      <%= link_to "Sign in", user_session_path, class: "btn btn-success navbar-btn navbar-right", type: "button" %>
	      <% end %>
	    </div>
	  </div>
	</div>

</div>